<div class="page-header">
	<h2>Password Security</h2>
</div>

<div class="row">

	<div class="col-md-6">
		<form class="form-horizontal" name ="passwordform">
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Old Password:</label>
				<div class="col-sm-9">
					<input id="oldpassword" name="oldpassword" ng-model="user.oldpassword" type="password" class="form-control" placeholder="*****" required/>
					  <span style="color:red" ng-show="passwordform.oldpassword.$dirty && passwordform.oldpassword.$invalid">
                      <span ng-show="passwordform.oldpassword.$error.required">用户名是必须的。</span>
                      </span>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">New Password:</label>
				<div class="col-sm-9">
					<input id="password" name="password" ng-model="user.password" type="password" class="form-control" placeholder="******" required/>
					<span style="color:red" ng-show="passwordform.password.$dirty && passwordform.password.$invalid">
                      <span ng-show="passwordform.password.$error.required">密码是必须的。</span>
                      </span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" value="Reset" class="btn btn-primary" ng-click="reset()"/>
				</div>
			</div>
		</form>
	</div>
	
	<div class="col-md-6">
		<p class="alert alert-info">If you do not have a account, you can not edit newsentry. firstly, we will user username, then, we will adopt email as login name</p>
	</div>

</div>