<div class="page-header">
	<h3>Users</h3>
</div>
	<table class="table altrowstable">
		<thead>
			<tr>
				<th >序号</th>
				<th >用户id</th>
				<th >姓名</th>
				<th >权限</th>
				<th >注册时间</th>
				<th >更新时间</th>
				<th >拉黑/拉白</th>
				<th >编辑</th>
				
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="user in users" >
				<td >{{ $index+1 }}</td>
				<td >{{ user.id}}   </td>
				<td >{{ user.name }}</td>
				<td >
				   <span ng-repeat="role in user.userRoleList">
				     <span ng-switch on="role.roles">
                       <span ng-switch-when="0">USER </span>
                       <span ng-switch-when="1">ADMIN</span>
                     </span>
				   </span>
				</td>
				<td >{{ user.createDate | date:'yyyy-MM-dd HH:mm:ss'}} </td>
				<td >{{ user.updateDate |  date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td >
				   <a ng-if="!user.black" href="" ng-click="blacklist(user.id)" class="btn btn-xs btn-default" title="blacklist">拉黑</a>
				   <a ng-if="user.black" href="" ng-click="whitelist(user.id)" class="btn btn-xs btn-default" title="whitelist">拉白</a>
				</td>
				<td >
<!-- 					<button class="btn" ng-click="editUser($index+1)"> -->
<!-- 						<span class="glyphicon glyphicon-pencil"></span>编辑 -->
<!-- 					</button> -->
                  <a  href="" ng-click="editUser($index+1)" class="btn btn-xs btn-default" title="edit">编辑</a>
				</td>
			</tr> 
		</tbody>
	</table>
	<div class="col-md-12">
	    <tm-pagination conf="paginationConf"></tm-pagination>
	</div>
<!-- 	 <div class="col-md-12"> -->
<!-- 		<p class="alert alert-info">Notice: If you are the administrator , you will hava  -->
<!-- 		a ability to reset a user's role or authority and reset password</p> -->
<!-- 	</div> -->
    <hr>
	<button class="btn btn-success" ng-click="editUser('new')">
		<span class="glyphicon glyphicon-user"></span>创建新用户
	</button>
	<hr>

	<h3 ng-show="edit">创建新用户:</h3>
	<h3 ng-hide="edit">编辑用户:</h3>

   <div class="col-md-12">
		<p class="alert alert-info">Notice: If you are the administrator , you will hava 
		a ability to reset a user's role or authority and reset password. of course, you can also add a new user</p>
	</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">username:</label>
			<div class="col-sm-10">
				<input type="text" ng-model="username" ng-disabled="!edit"
					placeholder="username">
			</div>
		</div>
		<div class="form-group" >
			<label class="col-sm-2 control-label">new password:</label>
			<div class="col-sm-10">
				<input type="password" ng-model="passw1" placeholder="password">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">confirm password:</label>
			<div class="col-sm-10">
				<input type="password" ng-model="passw2" placeholder="password">
			</div>
		</div>
		
<!-- 		<div class="form-group"> -->
<!-- 			<label class="col-sm-2 control-label">confirm password:</label> -->
<!-- 			<div class="col-sm-10"> -->
<!-- 				<input type="password" ng-model="passw3" placeholder="password"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<div class="form-group" ng-hide="edit" >
			<label class="col-sm-2 control-label">authority:</label>
			<div class="col-sm-10">
				<select ng-model="role" ng-options="role.rolesDesc for role in roles">
                </select>
			</div>
		</div>
	</form>
    
	<button class=" modify btn btn-success" ng-hide="edit" ng-click="modifyUserInfo(index)" ng-disabled="error || incomplete">
		<span class="glyphicon glyphicon-save"></span><span >修改</span>
	</button>
	
	<button class=" modify btn btn-success"  ng-show="edit" ng-click="addUser()" ng-disabled="error || incomplete">
		<span class="glyphicon glyphicon-save"><span ng-show="edit" >添加</span></span>
	</button>
	
	<hr>


